
#item-menu {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    //margin-top: 50px;
    border-collapse: collapse;
    width: 90%;
}
#item-menu td, #item-menu th {
    border: 1px solid white;
    padding: 8px;
}
#item-menu tr:nth-child(even){
    background-color: #f2f2f2;
}

#item-menu tr:hover {background-color: #ddd;}

#item-menu th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
}
