.group {
    animation: group 5s 1;
}


#item-menu {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    //margin-top: 50px;
    border-collapse: collapse;
    width: 90%;
}
#item-menu td, #item-menu th {
    border: 1px solid white;
    padding: 8px;
}
#item-menu tr:nth-child(odd){
    background-color: wheat;
}

#item-menu tr:hover {background-color: #ddd;}

#item-menu th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: transparent;
    //background-color: black;
    color:black;
}

@keyframes group{
    0% {
        margin-left: -100px;
    }
}



button {
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
button:hover{
    background-color: grey;
}

.mat-raised-button {
    float: right;
    margin-right: 100px; 
      border: 1px solid #fff;
      background: transparent;
      border-radius: 20px;
      color: black;
      outline: none;
      cursor: pointer
}
.mat-raised-button:hover {
    background-color: grey;
}

