<mat-toolbar class="header">
   <mat-icon>local_dining</mat-icon>
  <a href="#" style="font-size: 30px;font-weight: 700;">
                                                        Food Order App</a>
  <span class="example-spacer"></span>

  <mat-menu #appMenu="matMenu">
    <a mat-menu-item href="forcustomer">
                                        For Customers</a>
    <a mat-menu-item href="forrestaurant">
                                        For Restaurant Owner</a>
    <a mat-menu-item href="forhrmanager">
                                        For HR Manager</a>
  </mat-menu>
  <a mat-icon-button [matMenuTriggerFor]="appMenu" 
  class="example-icon" aria-label="Example icon-button with share icon" fxHide fxShow.lt-md>
    <mat-icon>menu</mat-icon>

</a>
</mat-toolbar>