<h2>For Restaurant Owner</h2>

<mat-tab-group>

  <mat-tab label="Manage Food Item">
    <table id="fooditems">
      <tr>
        <th>Item #_id</th>
        <th>Name</th>
        <th>Price (in Nu.)</th>
      </tr>

      <tr *ngFor="let item of fooditems | paginate: {itemsPerPage:7, currentPage:p};">
        <td> #_{{item.id}}</td>
        <td> {{item.name}} </td>
        <td> Nu.{{item.price}} per </td>
        <td>
          <a routerLink="/edit/{{item.id}}"><i class="fa fa-edit" style="cursor: pointer;"></i></a>
          &nbsp;
          <i (click)="deleteMenuItem(item.id)" class=" delete fa fa-trash" style="cursor: pointer; float: right;"></i>
        </td>       
      </tr>
    </table>

    <pagination-controls (pageChange) = "p = $event"></pagination-controls>

    <button mat-raised-button color="primary" (click)="openDialog()">Add</button>
  </mat-tab>
  

  <mat-tab label="Selise HR Manager's Order">
    <table id="orderDetails">
      <tr>
        <th (click)="sort('name')"><i class="fa fa-sort"></i> Orders</th>
        <th>Quantity</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>

      <tr *ngFor="let order of ordereditems |  orderBy: key: reverse  | paginate: {itemsPerPage:4, currentPage:p}">
        <td>{{order.itemQt}} {{order.name}}  </td>
        <td> {{order.itemQt}}  </td>
        <td> {{order.itemQt}} x {{order.price}}</td>
        <td> {{order.status}} </td>
        <td>
          <i class="fa fa-check" style="cursor: pointer;"></i>
          &nbsp;
          <i (click)="removeOrderItem(order.id)" class=" delete fa fa-times" style="cursor: pointer; float: right;"></i>
        </td>
      </tr>

      <pagination-controls (pageChange) = "p = $event"></pagination-controls>

    </table>
  </mat-tab>

  <mat-tab label="Custom Orders">
    <table id="customOrders">
      <tr>
        <th>Order #_id</th>
        <th>Order Name</th>

        <th>Actions</th>
      </tr>

      <tr *ngFor="let custom of customorders">
        <td> #_{{custom.id}} </td>
        <td> {{custom.name}} </td>

        <td>
          <i class="fa fa-check" style="cursor: pointer;"></i>
          &nbsp;
          <i (click)="removeCustomItem(custom.id)" class=" delete fa fa-times" style="cursor: pointer; float: right;"></i>
        </td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>

