.group {
    animation: group 5s 1;
}
@keyframes group {
    0% {
        margin-left: -100px;
    }
}

#tab1{
    background-color: #ddd;
}

#fooditems {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    //margin-top: 50px;
    border-collapse: collapse;
    width: 90%;
}
#fooditems td, #fooditems th {
    border: 1px solid white;
    padding: 5px;
}
#fooditems tr:nth-child(odd){
    background-color:#ddd;
}

//#fooditems tr:hover {background-color: #ddd;}

#fooditems th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: transparent;
    //background-color: grey;
    color: black;
}

#formfield {padding-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
}
.mat-raised-button {
    float: right;
    right: 50px;
    margin-top: 50px;
    color: black;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.mat-raised-button:hover {
    background-color: grey;
}

//-----------SCSS For Order Detail Tab

#orderDetails {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    //margin-top: 50px;
    border-collapse: collapse;
    width: 90%;
}
#orderDetails td, #orderDetails th {
    border: 1px solid white;
    padding: 5px;
}
#orderDetails tr:nth-child(odd){
    background-color: #ddd;
}

#orderDetails tr:hover {background-color: #ddd;}

#orderDetails th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: transparent;
    color: black;
}

//
#customOrders {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    //margin-top: 50px;
    border-collapse: collapse;
    width: 90%;
}
#customOrders td, #customOrders th {
    border: 1px solid white;
    padding: 5px;
}
#customOrders tr:nth-child(odd){
    background-color: #ddd;
}

#customOrders tr:hover {background-color: #ddd;}

#customOrders th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: transparent;
    color: black;
}
