
<div mat-dialog-content [formGroup]="addCustomOrder" style="height: 150px;">
    <mat-form-field appearance="fill" style="display: inline;">
      <mat-label>         Place Your Custom Order Here          </mat-label  >
      <input matInput formControlName="name" #message #action>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="cancel()">
                                                      Cancel</button>
      <span class="spacer"></span>
      <button mat-button (click)="submit()" 
      (click)="openSnackBar(message.value, action.value)" 
      cdkFocusInitial>
                                                      Submit</button>
    </div>
</div>
