
<div id="addDialog" mat-dialog-content [formGroup]="addFood">
  <mat-form-field appearance="fill">
    <mat-label>Item name</mat-label>
    <input matInput formControlName="name" #message required>
    <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" style="color: red; font-size: smaller;">
      <div *ngIf="f.name.errors?.required">
        name is required
      </div>
    </div>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Item price</mat-label>
    <input matInput formControlName="price" #action required>
    <div *ngIf="f.price.invalid && (f.price.dirty || f.price.touched)" style="color: red; font-size: smaller;">
      <div *ngIf="f.price.errors?.required">
        price is required
      </div>
    </div>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">
                                                    Cancel</button>
    <span class="spacer"></span>
    <button mat-raised-button (click)="save()" [disabled]="addFood.invalid"
    (click)="openSnackBar(message.value, action.value)" 
    cdkFocusInitial>                        
                                                    Add Item</button>
  </div>
</div>



