
<div mat-dialog-content [formGroup]="addFood">
  <mat-form-field appearance="fill">
    <mat-label>Item name</mat-label>
    <input matInput formControlName="name" #message>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Item price</mat-label>
    <input matInput formControlName="price" #action>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="save()" (click)="openSnackBar(message.value, action.value)" cdkFocusInitial>Add Item</button>
  </div>
</div>



